@charset "utf-8";
h1,h2,p,body{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    padding: 20px;
}



header{
    background-color: #273755;
    width: 100%;
    height: 150px;
    color: white;
    font-size: 1.5em;
    padding-top: 25px;
    box-sizing: border-box
}

li{
    display: inline-block;
    padding-left: 5em;
    padding-top: 1em;
}

.menu{
    position: relative;
    background-color: #2E4360;
    width: 80%;
    height: 40%;
    text-align: center;
    margin: 0px auto 0px auto;
}

.banner{
    background-color: black;
    color: #4A4242;
    width: 100%;
    height: 448px;
    box-sizing: border-box;
    font-size: 25px;
}

.banner div{
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top:100px;
    padding-left: 50px;
}
h1{
    width: 50%;
    margin: 0 auto 0 auto;
}
.flexrow{
    display: flex;
    flex-direction: row;
    
}


