@charset "utf-8";
h1,h2,p,body{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    padding: 20px;
}



header{
    position: relative;
    background-color: #273755;
    width: 100%;
    color: white;
    font-size: 1.5em;
    padding-top: 25px;
    box-sizing: border-box
}

li{
    display: inline-block;
    padding-left: 5em;
    padding-top: 1em;
}

.menu{
    position: relative;
    background-color: #2E4360;
    width: 80%;
    height: 40%;
    text-align: center;
    margin: 0px auto 0px auto;
}

.banner{
    position: relative;
    background-color: black;
    color: #4A4242;
    width: 100%;
    height: 400px;
    font-size: 25px;
    border: solid 3px;
}

.banner div{
    position: relative;
    
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top:100px;
    padding-left: 50px;
}
.banner div p{
    padding-bottom:125px ;
}
h1{
    width: 50%;
    margin: 0 auto 0 auto;
}
.flexrow{
    display: flex;
    flex-direction: row;
}
label,p,icon,img{
padding:20px;
}


